extensions:
  commerce/backend-ui/1:
    $include: src/commerce-backend-ui-1/ext.config.yaml
  commerce/extensibility/1:
    $include: src/commerce-extensibility-1/ext.config.yaml

  # This extension is required by `@adobe/aio-commerce-lib-config`.
  commerce/configuration/1:
    $include: src/commerce-configuration-1/ext.config.yaml
productDependencies:
  - code: COMMC
    minVersion: 2.4.5
    maxVersion: 3.0.0
