# Your Adobe Commerce GraphQL URL
AC_GRAPHQL_URL=
# Your system Environment ID for Catalog Service OR Tennant ID of SaaS (optional, for SaaS or for Catalog Service endpoints)
AC_ENVIRONMENT_ID=

# Default Store to use for default setup
AC_DEFAULT_STORE_CODE=default

# Default Runtime Setup
OAUTH_BASE_URL=https://ims-na1.adobelogin.com/ims/token/
IO_MANAGEMENT_BASE_URL=https://api.adobe.io/events/

# Event provider for feed generation
FEED_GENERATOR_PROVIDER_ID=

# Rest API URL. Commerce base URL should finish with slash '/'
COMMERCE_BASE_URL=


# Commerce OAuth configs
# These values can be copied from the Integration Details under System > Integrations
COMMERCE_CONSUMER_KEY=
COMMERCE_CONSUMER_SECRET=
COMMERCE_ACCESS_TOKEN=
COMMERCE_ACCESS_TOKEN_SECRET=

# OAuth configs for SaaS (IMS)
## More info: https://developer.adobe.com/developer-console/docs/guides/authentication/ServerToServerAuthentication/implementation

OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=
OAUTH_TECHNICAL_ACCOUNT_ID=
OAUTH_TECHNICAL_ACCOUNT_EMAIL=
OAUTH_ORG_ID=
OAUTH_SCOPES=AdobeID, openid, read_organizations, additional_info.projectedProductContext, additional_info.roles, adobeio_api, read_client_secret, manage_client_secrets, event_receiver_api
