{
  "meshConfig": {
    "sources": [
      {
        "name": "GraphQL",
        "handler": {
          "graphql": {
            "endpoint": "AC-URL/graphql",
            "operationHeaders": {
              "Content-Type": "application/json",
              "Magento-Environment-Id": "{context.headers['Magento-Environment-Id']}",
              "Magento-Website-Code": "{context.headers['Magento-Website-Code']}",
              "Magento-Store-View-Code": "{context.headers['Magento-Store-View-Code']}",
              "Magento-Store-Code": "{context.headers['Magento-Store-Code']}",
              "Magento-Customer-Group": "{context.headers['Magento-Customer-Group']}",
              "x-api-key": "{context.headers['x-api-key']}",
              "Authorization": "{context.headers['Authorization']}",
              "store": "{context.headers['store']}"
            }
          }
        }
      }
    ]
  }
}