{
  "meshConfig": {
    "sources": [
      {
        "name": "GraphQL",
        "handler": {
          "graphql": {
            "endpoint": "MAGENTO-URL/graphql",
            "operationHeaders": {
              "store": "{context.headers['m-ac-gql-store-code']}",
              "Content-Type": "application/json"
            }
          }
        }
      }
    ]
  }
}